.rosette svg{
	position:absolute;
	transition:transform 1s;
	left:0;
	top:0;
	transform-origin:bottom center;

}

.rosette svg:nth-child(2) {
transform:rotate(72deg);
}

.rosette svg:nth-child(3) {
transform:rotate(144deg);
}

.rosette svg:nth-child(4) {
transform:rotate(240deg);
}

.rosette svg:nth-child(5) {
transform:rotate(288deg);
}

.flowers svg{
	position:absolute;
	transition:transform 1s;
	left:10%;
	top:-10%;
}

.flowers svg:nth-child(1) {
transform:rotate(0deg);
}

.flowers svg:nth-child(2) {
transform:rotate(30deg);

}

.flowers svg:nth-child(3) {
transform:rotate(-30deg);
}